:root {
    --cc-bar-h: 80px;
    --cc-bar-mob-h: 45px;

    --eff-bar-w: 300px;
    --eff-bar-btns-mob-size: 60px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: lightpink;
    display: flex;
    flex-direction: column;
}

nav {
    width: 100%;
    height: 40px;
    background-color: gray;
}

.for-dialog {
    display: none;
}

/* BUTTONS BEHAVIOR, ACROSS ANY MEDIA-QUERY */

/* Every input will have a corresopnding label for styles */
input {
    display: none;
}

/* Some toggle-inputs will have two <path>, for on/off styles */
input:checked + label svg [id$='_off'] {
    display: none;
}

/* Input file label */
[for='if_load_image'] {
    align-items: center;
    overflow-wrap: anywhere;
    font-size: 12px;

    & svg {
        flex-shrink: 0;
    }
}

/* The download button will be disabled until an image is loaded */
#btn_download {
    
    &:not([disabled]) {

        & svg {

            & path[id$='_off'] {
                display: none;
            }
        }
    }
}

/* PIXELATE inputs */
input#cb_px_horzvert + label {

    & svg {

        & path#path_px_pixels_tall {
            display: none;
        }

        & path#path_px_pixels_wide {
            display: block;
        }
    }
}

/* GRAYSCALE inputs */

input#cb_gray_only_gray {

    & + label {
        display: flex;

        & span {
            display: flex;
            flex: 1;
            height: 100%;

            &[class^='gray_'] {
                display: none;
            }

            &.gray_stripe1 {
                background-color: #444;
            }
            &.gray_stripe2 {
                background-color: #777;
            }
            &.gray_stripe3 {
                background-color: #ccc;
            }

            &.bw_stripe1 {
                background-color: #000;
            }
            &.bw_stripe2 {
                background-color: #777;
            }
            &.bw_stripe3 {
                background-color: #fff;
            }

        }
        
    }

    &:checked {

        & + label {

            & span[class^='gray_'] {
                display: flex;
            }

            & span[class^='bw_'] {
                display: none;
            }
        }
    }
}

input#cb_px_horzvert:checked + label {

    & svg {

        & path#path_px_pixels_tall {
            display: block;
        }

        & path#path_px_pixels_wide {
            display: none;
        }
    }   
}

@media (min-width: 750px) {
    main {
        flex: 1;
        min-height: 0;
        border: 3px solid red;
        display: grid;

        grid-template-areas: 'common common' 'effects pictures';
        grid-template-columns: var(--eff-bar-w) auto;
        grid-template-rows: var(--cc-bar-h) 1fr;

        & section#common_controls {
            grid-area: common;
            background-color: lightgreen;
            display: flex;
            align-items: stretch;

            .btn-wrapper {
                border: 1px solid black;
                display: flex;
                align-items: stretch;

                & label {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    cursor: pointer;

                    & svg {
                        max-width: 100%;
                        max-height: 100%;
                    }

                    &[for='if_load_image'] {
                        padding: 5px;
                        gap: 10px;
                    }
                }

                & button {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    & svg {
                        max-width: 100%;
                        max-height: 100%;
                    }

                    &#btn_download {
                        padding: 8px 0px;

                    }
                }

                &.w1 {
                    aspect-ratio: 1/1;
                    width: var(--cc-bar-h);
                }

                &.w2 {
                    aspect-ratio: 2/1;
                    width: calc(2 * var(--cc-bar-h));
                }

                &.w3 {
                    aspect-ratio: 3/1;
                    width: calc(3 * var(--cc-bar-h));
                }

                &.w4 {
                    aspect-ratio: 4/1;
                    width: calc(4 * var(--cc-bar-h));
                }

                &.w5 {
                    aspect-ratio: 5/1;
                    width: calc(5 * var(--cc-bar-h));
                }

                &.w6 {
                    aspect-ratio: 6/1;
                    width: calc(6 * var(--cc-bar-h));
                }

                &.right {
                    margin-left: auto;
                }
            }
        }

        & #overlay_effects_menu_mobile {
            display: none;
        }

        & section#effects_bar {
            grid-area: effects;
            background-color: aliceblue;
            pointer-events: none;
            opacity: 0.5;

            #btn_effects_label_mobile {
                display: none;
            }
            
            & .effect {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                
                & > label {
                    border: 1px solid green;
                    padding: 20px 10px;
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    cursor: pointer;

                    & .on-dot {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color: #ccc;
                    }
                }

                & .effect-btns {
                    border: 1px solid blue;
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    overflow: hidden;
                    max-height: 0;
                    transition: max-height 500ms linear;

                    & .eff-btn {
                        border: 1px solid orange;
                        height: calc(var(--eff-bar-w) / 4);


                        & label {
                            background-color: #adff2f;
                            display: flex;
                            width: 100%;
                            height: 100%;
                            padding: 10px;
                            cursor: pointer;

                            & svg {
                                max-width: 100%;
                                max-height: 100%;
                            }
                        }
                    }
                }

                & .eff-slider {
                    overflow: hidden;
                    max-height: 0;
                }

                & input:checked + label {

                    & .on-dot {
                        background-color: #adff2f;
                    }
                }

                & input:checked ~ .effect-btns {
                     max-height: 40vh;
                }

                & input:checked ~ .effect-slider {
                     max-height: 40vh;
                }
            }
        }

        & section#pictures_area {
            grid-area: pictures;
            background-color: cyan;
            position: relative;

            & .pic-area {
                position: absolute;
                transition: 300ms ease-in-out;

                & canvas {
                    border: 1px solid red;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    max-width: 95%;
                    max-height: 95%;

                }
            }

            & .pic-area.img-in {
                background-color: yellow;
                top: 0;
                left: 0;
                right: 50%;
                bottom: 0;
                z-index: 2;
            }
            & .pic-area.img-out {
                background-color:chocolate;
                top: 0;
                left: 50%;
                right: 0;
                bottom: 0;
            }
        }

        & section#common_controls:has(#cb_horz_vert:checked) ~ section#pictures_area {

            & .pic-area.img-in {
                top: 0;
                left: 0;
                right: 0;
                bottom: 50%;
            }
            & .pic-area.img-out {
                top: 50%;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }

        & section#common_controls:has(#cb_float:checked) ~ section#pictures_area {

            & .pic-area.img-in {
                top: 20px;
                left: 20px;
                right: calc(100% - 20px - 150px);
                bottom: calc(100% - 20px - 150px);
            }
            & .pic-area.img-out {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
    }
}

@media (max-width: 749px) {
    main {
        flex: 1;
        min-height: 0;
        border: 3px solid red;
        display: flex;
        flex-direction: column;
        position: relative;

        & section#common_controls {
            background-color: #adff2f;
            height: var(--cc-bar-mob-h);
            display: flex;
            align-items: stretch;

            & .btn-wrapper {
                border: 1px solid black;
                display: flex;
                
                & label {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    cursor: pointer;

                    & svg {
                        max-width: 100%;
                        max-height: 100%;
                    }

                    &[for='if_load_image'] {
                        padding: 3px;
                        gap: 6px;
                    }
                }

                & button {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    & svg {
                        max-width: 100%;
                        max-height: 100%;
                    }

                    &#btn_download {
                        padding: 1px 0px;
                        
                        &:not([disabled]) {

                            & svg {

                                & path[id$='_off'] {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                &.w1 {
                    aspect-ratio: 1/1;
                    width: var(--cc-bar-mob-h);
                }

                &.w2 {
                    aspect-ratio: 2/1;
                    width: calc(2 * var(--cc-bar-mob-h));
                }

                &.w3 {
                    aspect-ratio: 3/1;
                    width: calc(3 * var(--cc-bar-mob-h));
                }

                &.w4 {
                    aspect-ratio: 4/1;
                    width: calc(4 * var(--cc-bar-mob-h));
                }

                &.w5 {
                    aspect-ratio: 5/1;
                    width: calc(5 * var(--cc-bar-mob-h));
                }

                &.w6 {
                    aspect-ratio: 6/1;
                    width: calc(6 * var(--cc-bar-mob-h));
                }

                &.right {
                    margin-left: auto;
                }
                
            }
        }


        & #overlay_effects_menu_mobile:has(+#effects_bar.toggled) {
            position: absolute;
            background-color: #00000077;
            top: 0;
            right: 0;
            bottom: 0;
            left:0;
            z-index: 3;
        }

        & section#effects_bar {
            background-color: aquamarine;
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 10px;
            top: calc(var(--cc-bar-mob-h) + 10px);
            z-index: 3;

            & #btn_effects_label_mobile {
                border: none;
                outline: none;
                font-size: 20px;
                padding: 20px;
                cursor: pointer;

                & ~ .effect:has([name='rbgEffects']:checked) {
                    display: flex;
                }
            }

            & .effect {
                display: none;
                flex-direction: column;
                align-items: flex-end;

                &:has([name='rbgEffects']:checked) {
                    display: flex;
                }
                
                & > label {
                    border: 1px solid green;
                    padding: 10px 20px;
                    display: none;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 10px;
                    cursor: pointer;

                    & .on-dot {
                        display: none;
                    }
                }

                & .effect-btns {
                    border: 1px solid blue;
                    display: flex;
                    max-height: 0;
                    flex-direction: column;
                    gap: 10px;
                    transition: max-height 1100ms ease-in-out ;

                    & .eff-btn {
                        border: 1px solid orange;
                        width: var(--eff-bar-btns-mob-size);
                        height: var(--eff-bar-btns-mob-size);
                        border-radius: 50%;
                        overflow: hidden;

                        & input#cb_px_horzvert + label {

                            & svg {

                                & path#path_px_pixels_tall {
                                    display: none;
                                }

                                & path#path_px_pixels_wide {
                                    display: block;
                                }
                            }
                            
                        }

                        & input#cb_px_horzvert:checked + label {

                            & svg {

                                & path#path_px_pixels_tall {
                                    display: block;
                                }

                                & path#path_px_pixels_wide {
                                    display: none;
                                }
                            }
                            
                        }

                        & label {
                            background-color: #adff2f;
                            display: flex;
                            width: 100%;
                            height: 100%;
                            padding: 12px;
                            cursor: pointer;

                            & svg {
                                max-width: 100%;
                                max-height: 100%;
                            }
                        }
                    }
                }

                & .eff-slider {
                    overflow: hidden;
                    max-height: 0;
                }

                & input:checked ~ .effect-btns {
                    max-height: 80vh;
                }

                & input:checked ~ .effect-slider {
                    max-height: 80vh;
                }
            }

            &.toggled {
                transform: translate(-100px, 0);

                & #btn_effects_label_mobile {
                    display: none;
                }

                & .effect {
                    display: flex;
                    gap: 5px;

                    & label {
                        display: flex;
                        margin: 0;
                        font-size: 30px;
                        color: red;
                    }

                    & .effect-btns {
                        display: none;
                    }

                    & .effect-slider {
                        display: none;
                    }
                }
            }
        }

        & section#pictures_area {
            position: relative;
            flex: 1;
            min-height: 0;

            & .pic-area {
                position: absolute;
                transition: 300ms ease-in-out;

                & canvas {
                    border: 1px solid red;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    max-width: 95%;
                    max-height: 95%;

                }
            }

            & .pic-area.img-in {
                background-color: yellow;
                top: 0;
                left: 0;
                right: 50%;
                bottom: 0;
                z-index: 2;
            }
            & .pic-area.img-out {
                background-color:chocolate;
                top: 0;
                left: 50%;
                right: 0;
                bottom: 0;
            }
        }

        & section#common_controls:has(#cb_horz_vert:checked) ~ section#pictures_area {

            & .pic-area.img-in {
                top: 0;
                left: 0;
                right: 0;
                bottom: 50%;
            }
            & .pic-area.img-out {
                top: 50%;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }

        & section#common_controls:has(#cb_float:checked) ~ section#pictures_area {

            & .pic-area.img-in {
                top: 20px;
                left: 20px;
                right: calc(100% - 20px - 150px);
                bottom: calc(100% - 20px - 150px);
            }
            & .pic-area.img-out {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
    }
}