* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body,
html {
    width: 100%;
    height: 280vh;
    font-family: 'Cousine', monospace;
    background-color: rgb(0, 0, 25);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

/* This was when sliders were added to test dimensions. */
/* .contslider{
    position: fixed;
    width: 200px;
    height: 40px;
    right: 15px;
}

.contslider#padding{
    top: 20px;
}

.contslider#height{
    top: 70px;
} */

/* .contslider#angle{
    top: 120px;
} */
:root {
    --contflaps-y-padd: 60px;
    --flap-height: 40vh;
    --flaps-number: 4;
    --flapable-a: calc(100vh - (var(--contflaps-y-padd) * 2));
    --leftover: calc(var(--flapable-a) - var(--flap-height));
    --overflap-h: var(--leftover) /(var(--flaps-number) - 1);
}

.cont.flaps {
    position: fixed;
    top: 0;
    left: 50%;
    bottom: 0;
    padding: var(--contflaps-y-padd) 0;
    transform: translate(-50%, 0);
    /* background-color: rgb(0, 0, 25); */
    /* height: calc(var(--contflaps-y-padd) + var(--flap-height) + var(--flap-height) * 0.2 * calc(var(--flaps-number) - 1) + var(--contflaps-y-padd)); */

    @media (min-width: 1001px) {
        width: 600px;
    }

    @media (max-width: 1000px) {
        width: 60%;
    }

    @media (max-width: 800px) {
        width: 70%;
    }

    @media (max-width: 600px) {
        width: 90%;
    }

    /* @media (max-width: 400px) {
        width: 100%;
    } */

    & .wrap-flap {
        position: absolute;
        width: 95%;
        height: var(--flap-height);
        left: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 300ms;
        transform: translate(-50%, 0);
        perspective: 1000px;
        perspective-origin: 50%;
        transform-origin: bottom;
        /* transform-origin will change on scroll via JS. */

        & .flap {
            width: 100%;
            height: 100%;
            background-color: #1b3d50;
            transform-origin: bottom;
            /* transform-origin will change on scroll via JS. */
            transition-property: scale, rotation;
            transition-duration: 300ms;
            transition-timing-function: ease-in-out;
            color: rgb(190, 51, 0);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem 1rem;

            & .title {
                margin-bottom: 1rem;
                text-align: center;
                font-size: 2rem;


            }

            & .description {
                max-width: 100%;
                max-height: 100%;

                & .text {
                    font-size: 1.1rem;

                }

                & img {
                    max-width: 50%;
                    max-height: 80%;
                    margin: 0.5rem 1rem
                }

                & img.floatleft {
                    float: left;
                }

                & img.floatright {
                    float: right;
                }

            }


            & .overlay {
                pointer-events: none;
                background-color: black;
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                /* transition: opacity 300ms ease-in-out; */
            }
        }
    }

    /* Add transform: translate(-50%, x) with x being 20% times one less of the number of flaps. */
    & #webClicker {
        top: calc(var(--contflaps-y-padd) + (var(--overflap-h) * 0));
        z-index: 4;
        /* border: 3px solid red; */

        & .flap {
            /* box-shadow: inset 0 10px 30px -12px white, inset 0 -10px 30px 1px black; */
        }

    }

    & #outliner {
        top: calc(var(--contflaps-y-padd) + (var(--overflap-h) * 1));
        z-index: 3;

    }

    & #webCsv {
        top: calc(var(--contflaps-y-padd) + (var(--overflap-h) * 2));
        z-index: 2;

    }

    & #webPictunator {
        top: calc(var(--contflaps-y-padd) + (var(--overflap-h) * 3));
        z-index: 1;

    }
}