@font-face {
    font-family: "Chivo Mono";
    src: url(./assets/fonts/Chivo_Mono.ttf);
}

@font-face {
    font-family: "Kode Mono";
    src: url(./assets/fonts/Kode_Mono.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Chivo Mono;
    font-weight: 300;
    font-size: 18px;
}

.section-container {
    width: 100%;
    overflow: hidden;

    &.tagger {
        background-color: hsla(173, 77%, 83%, 1);
        background-image: radial-gradient(circle at 5% 1%, hsla(250, 76%, 61%, 1) 7%, transparent 84%), radial-gradient(circle at 7% 81%, hsla(184, 91%, 91%, 1) 16%, transparent 53%), radial-gradient(circle at 11% 29%, hsla(213, 97%, 75%, 1) 8%, transparent 74%), radial-gradient(circle at 39% 52%, hsla(149, 93%, 64%, 1) 6%, transparent 68%), radial-gradient(circle at 90% 50%, hsla(118, 94%, 89%, 1) 2%, transparent 85%);
        background-blend-mode: normal, normal, normal, normal, normal;
    }

    &.pdf-inador {
        background-color: hsla(197, 92%, 60%, 1);
        background-image: radial-gradient(circle at 96% 96%, hsla(55, 68%, 45%, 0.85) 5%, transparent 86%), radial-gradient(circle at 5% 90%, hsla(229, 71%, 68%, 1) 13%, transparent 65%), radial-gradient(circle at 57% 73%, hsla(308, 93%, 51%, 1) 3%, transparent 89%), radial-gradient(circle at 20% 4%, hsla(318, 60%, 76%, 1) 22%, transparent 56%), radial-gradient(circle at 74% 15%, hsla(324, 92%, 59%, 1) 13%, transparent 57%);
        background-blend-mode: normal, normal, normal, normal, normal;
    }

    & .block-link {
        display: flex;
        width: 100%;
        height: 100%;
        text-decoration: none;

        & .block {
            display: flex;
        }
    }
}


@media (min-width: 750px) {
    .section-container {
        padding: 96px 36px;

        &.reverse {

            & .block-link {
                flex-direction: row-reverse;

                & .block {

                    &.block-description {
                        justify-content: flex-start;
                    }

                    &.block-preview {
                        justify-content: flex-end;
                    }
                }
            }
        }

        & .block-link {
            gap: 64px;
            align-items: center;

            & .block {
                flex: 0 0 50%;

                &.block-description {
                    display: flex;
                    justify-content: flex-end;

                    & .description-text {
                        max-width: 500px;
                        display: flex;
                        flex-direction: column;
                        row-gap: 25px;

                        & h2 {
                            font-size: 3rem;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 749px) {
    .block-container {
        flex-direction: column;
        padding: 36px 25px;

        & .block {
            flex: 0 0 100%;
        }
    }
}