* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --contflaps-y-padd: 100px;
    --flap-height: 75vh;
    --flaps-number: 4
}

.cont.flaps {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: lightgray;
    width: 70%;
    height: calc(
            var(--contflaps-y-padd) + 
            var(--flap-height) + 
            var(--flap-height) * 0.2 * calc(var(--flaps-number) - 1) + 
            var(--contflaps-y-padd)
            );

    & .flap {
        position: absolute;
        width: 80%;
        height: var(--flap-height);
        /* Add transform: translate(-50%, x) with x being 20% times one less of the number of flaps. */
    }

    & #webClicker {
        background-color: lightgreen;
        top: var(--contflaps-y-padd);
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 4;
    }

    & #webSolar {
        background-color: aliceblue;
        top: var(--contflaps-y-padd);
        left: 50%;
        transform: translate(-50%, 20%);
        z-index: 3;
    }

    & #webCsv {
        background-color: lightcoral;
        top: var(--contflaps-y-padd);
        left: 50%;
        transform: translate(-50%, 40%);
        z-index: 2;
    }

    & #webPictunator {
        background-color: lightskyblue;
        top: var(--contflaps-y-padd);
        left: 50%;
        transform: translate(-50%, 60%);
        z-index: 1;
    }
}