* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    /* Imported weights: 100, 400, 700. */
    font-weight: 400;
}

strong {
    font-weight: 700;
}

:root {
    /* FOR NAVIGATION BAR */
    --nav-bg: rgb(26, 26, 46);
    --nav-icon: rgb(233, 69, 96);
    --nav-icon-bg: rgb(67, 101, 139);

    /* FOR WEB TOOL */
    --dialog-body: rgb(159, 195, 249);
    --dialog-color: rgb(8, 26, 74);
    --controls-bg: #4A7C8C;
    --controls-color: rgb(216, 217, 218);
    --cont-write-bg: #0b3742;
    --write-btn-bg: rgb(137, 163, 205);
    --write-btn-bg-active: rgb(159, 195, 249);
    --write-btn-bg-hover: rgb(102, 139, 195);
    --write-btn-color: rgb(39, 40, 41);
    --write-bg: rgb(39, 40, 41);
    --write-color: rgb(255, 246, 224);
    --accr-preview-bg: #2f4c57;

    --accr-bg: rgb(58, 76, 124);
    --accr-border: rgb(98, 116, 164);
    --accr-border-lit: rgb(178, 196, 244);
    --accr-head-color: rgb(158, 186, 224);
    --accr-head-lit-color: rgb(158, 186, 224);
    --accr-body-color: rgb(8, 26, 74);

    --menu-selection-bg: rgb(231, 220, 192);
    /* PIXELS */
    --nav-height-desk: 40px;
    --nav-height-mob: 48px;
    --controls-height-desk: 2.5rem;
    --controls-height-mob: 48px;
    --accr-padding: 5px;
    --contextmenu-btn-dim: 30px;
}

body,
html {
    width: 100%;
    height: 100%;
    overscroll-behavior: none;
}

svg {
    max-width: 100%;
    max-height: 100%;
}

svg.svg-symbols {
    display: none;
}

input[type=radio],
input[type=checkbox] {
    display: none;
}

/* Styles for the dynamically added dialog with AutoDialog.js */
dialog {
    border-width: 3px;

    & .body {
        background-color: var(--dialog-body);
        padding: 0.5rem;
    }
}

dialog::backdrop {
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
}

/* --------- */

/* Dialog to add a popup. */
#modAddPopup {
    min-width: 60vw;
    max-width: 60vw;
    min-height: 40vh;
    max-height: 60vh;

    & .body {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        & .subtitle {
            display: flex;

            & label {
                font-size: 0.8rem;
                margin-right: 0.3rem;
            }

            & input {
                font-size: 1rem;
                flex: 1;
            }
        }

        & .body-cont {
            height: 100%;
            display: flex;
            justify-content: center;
            flex: 1;
            margin: 0.2rem 0;

            & textarea {
                resize: none;
                width: 100%;
                /* flex: 1; */
                overflow-y: auto;
            }
        }
    }
}

/* Dialog to show the popup. */

#modPopup {
    min-width: 60vw;
    max-width: 80vw;
    min-height: 50vh;
    max-height: 80vh;

    & .title {
        font-weight: 700;
    }

    & .body {
        padding: 1rem;
        /* min-width: 50vw;
        max-width: 90vw; */
    }
}

.tooltip {
    position: absolute;
    background-color: lightyellow;
    display: none;
    align-items: center;
    z-index: 4;
}

.tooltip.active {
    display: block;
}

.tooltip::after {
    position: absolute;
    border-style: solid;
    z-index: 3;
}

/* 
.g-action input~label,
.btn input~label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
} */

/* --------- */
nav.top-nav {
    height: var(--nav-height-desk);
    background-color: var(--nav-bg);
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: stretch;
    padding: 0.2rem 0.5rem;
    width: 100%;
    overflow: visible;

    @media screen and (max-width: 600px) {
        height: var(--nav-height-mob);
    }

    & .logo {
        background-color: white;
        border-radius: calc(var(--nav-height-desk)/2);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        cursor: pointer;
        border: 1px solid green;
        padding: 1%;

        & a#logoDmfte {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        & svg {
            max-width: 80%;
            max-height: 80%;
        }

    }

    & .nav-items {
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: stretch;
        flex: 1;

        & .nav-i {
            margin: 0 0.2rem;
            display: flex;
            justify-content: center;
            align-items: stretch;
            cursor: pointer;

            & svg path {
                fill: var(--nav-icon-bg);
            }
        }

        & .nav-i:hover svg path {
            fill: var(--nav-icon);
        }

        & .nav-i:active svg path {
            fill: var(--nav-icon);
        }

        & #navBtnContactme {
            position: relative;
            /* For tooltip. */

            & .tooltip {
                /* 10px is the .tooltip::after border width. */
                top: calc(100% + 10px);
                right: calc(50% - 10px);
                border-radius: 10px 0 10px 20px;
                padding: 5px 5px 10px 10px;
                justify-content: flex-start;
            }

            & .tooltip::after {
                content: "";
                bottom: 100%;
                right: 0;
                border-width: 10px;
                border-color: transparent transparent lightyellow transparent;
            }
        }
    }
}

/* ------------ */

label~input[type=color] {
    width: 0;
    height: 0;
    border: none;
    opacity: 0;
}

label~input[type=file] {
    display: none;
}

.container-all {
    position: relative;
    display: block;
    height: calc(100% - var(--nav-height-desk));

    @media (max-width: 600px) {
        height: calc(100% - var(--nav-height-mob));
    }

    & .controls {
        display: block;
        height: var(--controls-height-desk);
        background-color: var(--controls-bg);
        color: var(--controls-color);
        display: flex;
        align-items: stretch;
        padding: 0.3rem 1rem;

        & .btn {
            width: 2rem;
            background-color: lightgray;
            border: 1px solid white;
            color: black;
            border-radius: 0.4rem;
            cursor: pointer;
            margin: 0 0.3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 1;
            font-size: 1.5rem;
        }
    }

    & .editor {
        position: relative;
        display: flex;
        height: calc(100% - var(--controls-height-desk));
        flex-direction: row;

        & .wrapper {
            display: flex;
            height: 100%;
            flex: 1;
            padding: 0;
            padding: 0;
            margin: 0;

            & .cont {
                display: flex;
                flex: 1;
                /* height: 100%; */
            }


            & .cont.edit {
                position: relative;
                background-color: var(--cont-write-bg);
                padding: 1rem 0.5rem;
                display: grid;
                grid-template-areas: "title title" "collapsibles buttons";
                grid-template-columns: 1fr 80px;
                grid-template-rows: 3.5rem 1fr;

                & .title {
                    /* background-color: purple; */
                    grid-area: title;

                    & #itTitle {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        outline: none;
                        border-width: 1px;
                        border-style: none solid solid none;
                        border-color: var(--write-color);
                        background-color: var(--write-bg);
                        color: var(--write-color);
                        padding: 1.5rem 0.8rem;
                        height: 2rem;
                        font-size: 1.5rem;
                    }
                }

                & .collapsible {
                    grid-area: collapsibles;
                    display: flex;
                    flex-direction: column;
                    justify-content: stretch;
                    align-items: stretch;

                    & #taCollapsible {
                        resize: none;
                        background-color: var(--write-bg);
                        border: 1px solid var(--write-color);
                        color: var(--write-color);
                        outline: none;
                        height: 100%;
                        padding: 1rem;
                    }
                }

                & .buttons {
                    grid-area: buttons;
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    padding-left: 0.5rem;
                    overflow: hidden;

                    & button:hover {
                        background-color: var(--write-btn-bg-hover);
                        color: var(--write-color);
                    }

                    & button:active {
                        background-color: var(--write-btn-bg-active);

                    }

                    & button {
                        border: none;
                        height: 3rem;
                        background-color: var(--write-btn-bg);
                        color: var(--write-btn-color);
                        border-radius: 0.2rem;
                        margin-bottom: 4px;
                        cursor: pointer;
                    }
                }
            }

            & .cont.preview {
                background-color: var(--accr-preview-bg);
                padding: 1.5rem 2rem;

                & .accordions.edit {

                    & .cont-accr.active {
                        z-index: 3;

                        & .accr-title {
                            animation: edit-glow 2s infinite
                        }

                        & .accr-body {
                            animation: edit-glow 2s infinite;
                        }
                    }

                    & .overlay {
                        opacity: 0.7;
                        z-index: 2;
                    }
                }

                & .accordions {
                    position: relative;
                    display: block;
                    width: 100%;
                    overflow-y: auto;

                    & .overlay {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        background-color: rgb(0, 0, 0);
                        opacity: 0;
                        z-index: 0;
                    }

                    & .cont-accr::before {
                        pointer-events: none;
                        content: "";
                        position: absolute;
                        border-width: 3px;
                        border-style: solid;
                        border-color: var(--accr-border);
                        border-radius: 1rem;
                        top: var(--accr-padding);
                        right: var(--accr-padding);
                        bottom: var(--accr-padding);
                        left: var(--accr-padding);
                    }


                    & .cont-accr.active::before {
                        border-color: var(--accr-border-lit);
                        transition: border-color 500ms ease-in-out;
                    }

                    & .cont-accr.active {
                        z-index: 1;

                        & .accr-wrapper-body {
                            max-height: 50vh;
                            overflow-y: auto;
                            transition: max-height 500ms ease-in-out;
                            border-radius: 0 0 13px 13px;

                            & .accr-head {
                                color: var(--accr-head-lit-color);
                            }

                            & .accr-body {
                                background-color: var(--accr-border-lit);
                                transition: background-color 500ms ease-in-out;
                            }
                        }
                    }


                    & .cont-accr {
                        position: relative;
                        background-color: var(--accr-bg);
                        border-radius: 1rem;
                        padding: var(--accr-padding);
                        margin-bottom: 2px;

                        & .accr-head:hover svg.trash {
                            display: inline-block;
                        }

                        & .accr-head {
                            position: relative;
                            display: flex;
                            align-items: stretch;
                            padding: 0.5rem;
                            font-size: 1.5rem;
                            color: var(--accr-head-color);
                            cursor: pointer;

                            & svg.trash:hover {
                                border: 1px solid rgb(255, 0, 0);
                                border-radius: 0.3rem;
                            }

                            & svg.trash {
                                display: none;
                                width: 2rem;
                                height: 2rem;
                                position: absolute;
                                top: 0.5rem;
                                left: 0.5rem;
                                padding: 0;
                                line-height: 0;
                            }

                            & .accr-title {
                                text-align: center;
                                flex: 1;
                            }

                            & .accr-arrow {
                                display: flex;
                                width: 0.7em;
                                padding: 0.2rem;

                            }
                        }

                        & .accr-wrapper-body {
                            margin: 0;
                            padding: 0;
                            overflow: hidden;
                            max-height: 0;

                            & .accr-body {
                                padding: 0.7rem 2rem;
                                border-radius: 0 0 1.1rem 1.1rem;
                                color: var(--accr-body-color);
                                background-color: var(--accr-border);

                                & li {
                                    list-style: circle outside;

                                    & strong,
                                    em,
                                    u,
                                    span {
                                        cursor: pointer;
                                    }

                                    & strong:hover,
                                    em:hover,
                                    u:hover,
                                    span.highlight:hover {
                                        text-decoration: line-through rgb(255, 0, 0);
                                    }

                                    & u:hover {
                                        text-decoration-line: line-through underline;
                                        /* text-decoration-color: red; */
                                    }

                                    & span.show-popup {
                                        text-decoration: underline;
                                        color: rgb(0, 0, 255);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.context-menu {
    position: absolute;
    border: none;
    padding: 0;
    overflow: hidden;
}

.context-menu.selection.active {
    max-width: 200px;
    z-index: 2;
}

.context-menu.selection {
    max-width: 0;
    transition: max-width 300ms ease-in-out;

    & .cont.buttons {
        display: flex;
        align-items: stretch;
        border-radius: 7px;
        background-color: var(--menu-selection-bg);

        & .btn:hover {
            background-color: rgb(255, 255, 255);
            color: var(--write-bg);
        }

        & .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--controls-bg);
            border: 1px solid var(--controls-bg);
            border-radius: 5px;
            width: var(--contextmenu-btn-dim);
            height: var(--contextmenu-btn-dim);
            margin: 2px;
            user-select: none;
            cursor: pointer;

            & .colorlabel {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
            }

        }
    }
}

/* Animatios. */
@keyframes edit-glow {
    0% {
        color: rgb(255, 0, 0);
    }

    50% {
        color: var(--accr-body-color);
    }

    100% {
        color: rgb(255, 0, 0);
    }
}