.for-dialog {
    display: none;
}

dialog.dialog-shell {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    max-width: 500px;
    height: min-content;
    border-radius: 20px;
    border: none;
    overflow: hidden;

    & .dialog-container {
        display: flex;
        flex-direction: column;

        & .diag-header {
            display: flex;
            height: 60px;
            padding: 0;
            border-bottom: 1px solid #ccc;
            display: flex;
            justify-content: center;
            align-items: stretch;

            & .diag-title {
                font-size: 2em;
                flex-grow: 1;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            & .diag-close {
                aspect-ratio: 1/1;
                padding: 15px;
                display: flex;
                align-items: center;
                cursor: pointer;
            }
        }

        & .diag-body {
            border-bottom: 1px solid #ccc;
        }

        & .diag-footer {
            display: flex;

            & .diag-btn {
                flex: 1;
                background-color: transparent;
                border: none;
                font-size: 1.5em;
                padding: 15px 0;
                cursor: pointer;
                outline: none;

                &:hover {
                    opacity: 0.5;
                }
            }

        }
    }

}

@media (max-width: 750px) {
    dialog.dialog-shell {
        width: 90vw;

        & .dialog-container {

            & .diag-header {
                height: 50px;

                & .diag-title {
                    font-size: 1.5em;

                }

                & .diag-close {
                    padding: 14px;
                }
            }


            & .diag-body {}

            & .diag-footer {

                & .diag-btn {
                    font-size: 1.2em;
                    padding: 20px 0;
                }
            }
        }
    }
}